@import 'colors';

#contacto{
    width: 100%;
    // background-color: red;

    #header{
        h2{
            color: $dorado;
            a{
                font-size: medium;
            }
        }
    }

    .container{
        border: solid;
        margin-left: 5px;
        margin-right: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}