@import 'colors';
@import 'reactjs-popup/dist/index.css';

#popup-1{
    padding: 0;
    border: 1px solid black;
}
#popup-2{
    padding: 0;
    border: 1px solid black;
}
#popup-3{
    padding: 0;
    border: 1px solid black;
}

#header{
    display: flex;
    justify-content: right;
    margin-left: 10%;
    h2{
        color: $dorado;
        a{
            font-size: medium;
        }
    }
}

.botonEliminar {
    background-color: rgb(255, 0, 102);
    border-radius: 5px;
    border: none;
    padding: 6px 18px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-right: 1rem;
    font-weight: bold;
    

    &:hover {
        background-color: darken($color: $rojo, $amount: 5)
    }
}


.input-container {
    position: relative;
    
  }
  
  .input-field {
    margin-top: 10px;
    padding-left: 30px; /* Espacio para el icono */
    width: 96%;
    box-sizing: border-box;
  }

  

.botonModificar {
    background-color: rgb(146, 208, 80);
    border-radius: 5px;
    border: none;
    padding: 6px 18px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        background-color: darken($color: $verde-oscuro, $amount: 5)
    }
}

.botonActualizar {
   width: 100px;
    margin-top: 20px;
    
}


#popup-container {
    height: 32vh;

    #descripcion-vivienda{
        background-color: $azul-oscuro;
        height: 100%;    
        color: $blanco;
        }

        .header {
        background-color: $azul-claro;
        color: white;
        font-size: 20px;
        font-weight: bold;
        padding: 0.7rem 0;
        }
        
        .modal {
        padding: 0px 20px;
        }
    
        div {
        display: flex;
        justify-content: center;

        #boton-aceptar {
            background-color: $dorado;
            border-radius: 5px;
            border: none;
            padding: 6px 18px;
            color: white;
            font-size: 16px;
            cursor: pointer;
        
            &:hover {
                background-color: darken($color: $dorado, $amount: 5)
            }
            }
        }

}

.Inicio {
    display: flex;
    justify-content: space-around;

    .bold {
        font-weight: bold;
    }

    .columna1 {
        width: 50%;
        margin-left: 3rem;

        #title {
            color: $dorado;
            text-align: center;
        }

        #box1 {
            color: $blanco;
            background-color: $azul-oscuro;
            width: 50%;
            height: 2rem;
        }

        div {

            #boxVideo {
                color: $blanco;
                background-color: $azul-oscuro;
                padding: 5rem 0rem;
                text-align: center;
            }
        }
    }

    .columna2 {
        margin-left: 3rem;
        margin-right: 3rem;
        width: 50%;

        .titleTable {
            text-align: center;
            color: $blanco;
            background-color: $azul-oscuro;
        }

        .container1 {
            display: flex;
            justify-content: space-around;
            line-height: 0.6rem;

            .subcolumna2 {
                #link {
                    color: $azul-oscuro;
                    cursor: pointer;
                }
            }
        }
        .container2 {
            display: flex;
            justify-content: space-around;
            line-height: 0.6rem;
            background-color: $azul-oscuro;
            padding: 7px 0px 3px 0px;
            height: 1rem;

            .box2 {
                color: $blanco; 
            }

        }

        #center-button {
            display: flex;
            justify-content: center;

            button {
                background-color: $verde;
                border-radius: 5px;
                border: none;
                padding: 6px 18px;
                color: white;
                font-size: 16px;
                cursor: pointer;
    
                &:hover {
                    background-color: darken($color: $verde, $amount: 5)
                }
            }
        }   
    }
}

#containerCEO {
    margin-left: 2rem;

    #box1{
        background-color: $azul-oscuro;
        color: $blanco;
        text-align: center;
        border: 4px solid #002480;
        width: 60%;
        height: 30px;
        margin: 0;
        font-size: 1.1rem;
    }

    #containerStatus {
        display: flex;
        justify-content: space-between;
        width: 60%;

        .estatus {
            background-color: $gris;
            font-weight: bold;
            width: 12rem;
        }

        .proceso1 {
            background-color: $dorado;
            color: white;
            height: 30px;
        }
        .proceso2 {
            background-color: $verde;
            color: white;
            height: 30px;
        }
        .proceso3 {
            background-color: $rojo;
            color: white;
            height: 30px;
        }
    }

    .containerButtons {
        display: flex;
        justify-content: right;
        width: 70%;
        margin-top: 2rem;

        #botonProcesar {
            background-color: $verde;
            border-radius: 5px;
            border: none;
            padding: 6px 18px;
            color: white;
            font-size: 16px;
            cursor: pointer;
            margin-right: 1rem;
            font-weight: bold;
            
        
            &:hover {
                background-color: darken($color: $verde, $amount: 5)
            }
        }
    
        #botonRechazar {
            background-color: $rojo;
            border-radius: 5px;
            border: none;
            padding: 6px 18px;
            color: white;
            font-size: 16px;
            cursor: pointer;
            font-weight: bold;
        
            &:hover {
                background-color: darken($color: $rojo, $amount: 5)
            }
        }

        #botonEnviar {
            background-color: $azul-claro;
            border-radius: 5px;
            border: none;
            padding: 6px 18px;
            color: white;
            font-size: 16px;
            cursor: pointer;
            font-weight: bold;
            margin-right: 1rem;
        
            &:hover {
                background-color: darken($color: $azul-claro, $amount: 5)
            }
        }
    }

    #containerTables {
        margin-top: 0rem;
        display: inline-flex;
        flex-direction: column;

        td, table {
            border: 3px solid $dorado;
            border-collapse: collapse;
            text-align: center;

            tr:nth-child(1) > th.border-checkbox {
                background-color: white;
            }
    
            .border-checkbox {
                border: none;
            }

            
        }
        
        table {
            margin-bottom: 1.5rem;
            border: none;
        }

        th {
            background-color: $azul-claro;
            border: 3px solid gold;
            height: 2rem;
            color: white;
            
        }

        td {
            padding: 0px 20px;
        }

        

        .misNotificaciones {
            background-color: $azul-oscuro;
            color: $blanco;
            margin: 10px 0px;
            font-weight: bold;
        }

        h1 {
            font-size: 1.5rem;
            margin: 0;
        }

        #enProceso {
            color: $dorado;
        }

        #procesada {
            color: $verde;
        }

        #rechazada {
            color: $rojo;
        }
    }

}