@import 'colors';

.containerHPrincipal{
    width: 100%;
    height: 40%;
    display: grid;
    grid-template-rows: 15% 70% 15%;
    justify-items: center;
    align-items: center;
}

.containerHeader{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    p{
        margin: 0;
    }
}

.containerMain{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:1em;

}
.containerBotton{
    background-color: $gris;
}