@import 'colors';

.blue {
    color: $azul-oscuro;
}

.red {
    color: $rojo;
}

#iniciar-sesion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    
    #login {
        border: 3px solid #000080;
        padding: 40px 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            margin: 0;
        }
        
        #notificar {
            margin: 1.5rem;
        }

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .field {
                margin-bottom: 1rem;
                
                input {
                    border-radius: 5px;
                    border: 3px solid #e3e4e5;
                    width: 15rem;
                    height: 1.7rem;
                    justify-content: center;
                }
            }

            button {
                background-color: $dorado;
                border-radius: 5px;
                border: none;
                padding: 6px 18px;
                color: white;
                font-size: 16px;
                cursor: pointer;

                &:hover {
                    background-color: darken($color: $dorado, $amount: 5)
                }
            }
        }
    }

    
    
}